---
// COMPONENTS
import ProjectCard from "@/components/projects/project-card.astro";
import ProjectCardExpanded from "@/components/projects/project-card-expanded.astro";

// DATA
import { ACTIVE_PROJECTS_DATA } from "@/data/projects/projects.data";
---

<>
  <div class="hidden w-full grid-cols-1 lg:grid">
    {ACTIVE_PROJECTS_DATA.map((project, key) => <ProjectCardExpanded project={project} reverse={key % 2 === 1} />)}
  </div>
  <div class="grid w-full grid-cols-1 gap-4 2md:grid-cols-2 lg:hidden">
    {ACTIVE_PROJECTS_DATA.map((project) => <ProjectCard project={project} />)}
  </div>
</>
