---
//* COMPONENTS
import ProjectsFeed from "@/components/projects/projects-feed.astro";
import Section from "@/components/ui/section/section.astro";
import SectionTitle from "@/components/ui/section/section-title.astro";
---

<Section id="projects">
  <SectionTitle title="Proyectos" />
  <ProjectsFeed />
</Section>
