---
import SkillCard from "@/components/skills/skill_card.astro";
---

<div id="backend__feed" class="feed__inactive grid w-full grid-cols-3 gap-4">
  <SkillCard img="/skills/nodejs.svg" name="NodeJs" />
  <SkillCard right img="/skills/expressjs.svg" name="ExpressJs" />
  <SkillCard img="/skills/nestjs.svg" name="NestJs" />
  <SkillCard img="/skills/graphql.svg" name="GraphQL" />
  <SkillCard right img="/skills/postgresql.svg" name="PostgreSQL" />
  <SkillCard img="/skills/mysql.svg" name="MySQL" />
  <SkillCard img="/skills/mongodb.svg" name="MongoDB" />
  <SkillCard right img="/skills/sequelize.svg" name="Sequelize" />
  <SkillCard img="/skills/mongoose.svg" name="Mongoose" />
  <SkillCard img="/skills/typeorm.svg" name="TypeORM" />
  <SkillCard right img="/skills/firebase.svg" name="Firabase" />
  <SkillCard img="/skills/supabase.svg" name="Supabase" />
  <SkillCard img="/skills/swagger.svg" name="Swagger" />
</div>
