---
// COMPONENTS
import SkillCard from "@/components/skills/skill_card.astro";
---

<div id="tools__feed" class="feed__inactive grid w-full grid-cols-3 gap-4">
  <SkillCard img="/skills/docker.svg" name="Docker" />
  <SkillCard img="/skills/git.svg" name="Git" />
  <SkillCard img="/skills/github.svg" name="GitHub" />
  <SkillCard img="/skills/npm.svg" name="NPM" />
  <SkillCard img="/skills/vitejs.svg" name="Vite" />
  <SkillCard img="/skills/vscode.svg" name="VS Code" />
</div>
