---
// COMPONENTS
import SkillCard from "@/components/skills/skill-card.astro";

// DATA
import { TOOL_SKILLS_DATA } from "@/data/skills/skills.data";
---

<div id="tools__feed" class="feed__inactive grid w-full grid-cols-3 gap-4">
  {
    TOOL_SKILLS_DATA.map((data, index) => (
      <SkillCard img={data.img} name={data.name} link={data.link} right={index % 2 === 0} />
    ))
  }
</div>
