---
//* COMPONENTS
import ProjectsFeed from "@/components/projects/projects_feed.astro";
import Section from "@/components/ui/section/section.astro";
import SectionTitle from "@/components/ui/section/section_title.astro";
---

<Section id="projects">
  <SectionTitle title="Proyectos" />
  <ProjectsFeed />
</Section>
