---
// PROPS
import SkillCard from "@/components/skills/skill_card.astro";
---

<div id="testing__feed" class="feed__inactive grid w-full grid-cols-3 gap-4">
  <SkillCard img="/skills/jest.svg" name="Jest" />
  <SkillCard right img="/skills/testinglibrary.svg" name="Testing Library" />
  <SkillCard img="/skills/vitest.svg" name="Vitest" />
</div>
