---
//* COMPONENTS
import AboutParagraph from "@/components/about/about-paragraph.astro";
import Section from "@/components/ui/section/section.astro";
import SectionTitle from "@/components/ui/section/section-title.astro";
---

<Section id="about_me" class="!min-h-fit">
  <SectionTitle title="Acerca de mí" />
  <div class="flex flex-col gap-4 xs:gap-5 md:gap-7">
    <AboutParagraph
      text="No nací programador, pero desde que escribí mi primer script para un modelo 3D supe que el código sería mi forma de crear. Desde entonces no he parado de aprender y evolucionar."
    />
    <AboutParagraph
      text="Me mueven los proyectos ambiciosos, esos que desafían lo que sé y me obligan a ir más allá. Nunca me conformo: siempre busco mejorar y dar lo mejor de mí."
    />
    <AboutParagraph
      text="Cada proyecto personal ha sido un laboratorio de ideas, errores y logros que me han hecho crecer como desarrollador y como persona."
    />
    <AboutParagraph
      text="Los obstáculos no me frenan, me impulsan. Para mí, cada reto es una oportunidad de aprender, y lo enfrento con entusiasmo y determinación."
    />
  </div>
</Section>
