---
// COMPONENTS
import ContactItem from "@/components/contact/contact-item.astro";
import SectionTitle from "@/components/ui/section/section-title.astro";
import Section from "@/components/ui/section/section.astro";
import ContactForm from "@/components/contact/contact-form";
---

<Section id="contact">
  <div class="flex h-full w-full max-w-[1000px] flex-col p-4 pb-32 xs:px-10 md:px-16 lg:px-8 xl:px-0">
    <SectionTitle title="Contacto" />
    <div class="mt-5 flex flex-col gap-10 lg:flex-row">
      <div class="flex h-full w-full flex-col gap-5 rounded-md bg-slate-100/60 p-4 py-6 dark:bg-darkLight sm:gap-5 lg:gap-10">
        <ContactItem
          icon="mdi:linkedin"
          link="https://www.linkedin.com/in/tom%C3%A1s-cuevas-dev/"
          media="LinkedIn"
          text="linkedin.com/in/tomás-cuevas-dev/"
        />
        <ContactItem icon="mdi:github" link="https://github.com/TomasCuevas" media="GitHub" text="github.com/TomasCuevas" />
        <ContactItem icon="mdi:email-outline" media="Email" text="tomas.contact.dev@gmail.com" />
      </div>

      <ContactForm client:load />
    </div>
  </div>
</Section>

<style is:global>
  .contact__form {
    padding-right: 12px;
    scrollbar-color: #54437a #0000;
  }
</style>
