---
interface Props {
  buttonText: string;
  navigateTo?: string;
}

const { buttonText, navigateTo } = Astro.props;
---

<li>
  <button class="header__button" data-to-navigate={navigateTo}>
    <span
      class="text-[18px] font-light tracking-[1px] text-gray-500 hover:text-black dark:text-gray-500 dark:hover:text-gray-300 lg:text-xl"
    >
      {buttonText}
    </span>
  </button>
</li>
